<div class="logo text-center">
  <img width="300" src="assets/1.png" alt="">
</div>

<div class="registreation-form m-3 p-4">
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Placeholder">
          <mat-icon matSuffix><i class="fa fa-envelope" aria-hidden="true"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number </mat-label>
          <input formControlName="mobile" matInput placeholder="Placeholder">
          <mat-icon matSuffix><i class="fa fa-mobile" aria-hidden="true"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight </mat-label>
          <input formControlName="weight" type="number" matInput placeholder="Placeholder">
          <mat-icon matSuffix>line_weight</mat-icon>
          <mat-hint> Unit in KG</mat-hint>

        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input formControlName="height" type="number" formControlGroup="height" matInput placeholder="Placeholder">
          <mat-icon matSuffix><i class="fa fa-text-height"></i>
          </mat-icon>
          <mat-hint> Unit in meter</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Do you Required Trinner?</label>
        <mat-radio-group formControlName="requireTrainer" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let season of ['Yes','No']" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Select option is:</div>

      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Gender</label>
        <mat-radio-group formControlName="gender" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let gender of ['Male','Female']" [value]="gender">
            {{gender}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Select gender is:</div>

      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="fill">
          <mat-label>Packages</mat-label>
          <mat-select formControlName="package">
            <mat-option *ngFor="let package of packages" [value]="package">
              {{package}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="fill">
          <mat-label>Which of the following is important to you?</mat-label>
          <mat-select formControlName="important">
            <mat-option *ngFor="let importantList of importantLists" [value]="importantList">
              {{importantList}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Have been Gym before?</label>
        <mat-radio-group formControlName="haveGymBefore" class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let beenGym of ['Yes','No']" [value]=" beenGym">
            {{ beenGym}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Select option is:</div>

      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Enquire date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="enquiryDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>


    </div>
    <button  *ngIf="!isUpdateActive"  (click)="submit()" class=" mt-4" mat-raised-button color="accent">Submit</button>
    <button  *ngIf="isUpdateActive"   (click)="update()" class=" mt-4" mat-raised-button color="accent">Update</button>

  </form>
</div>